body {
  width: 100%;
  height: 100%;
  margin: 0;
}


header {
  text-align: center;
}

nav a {
  background-color: lightgrey;
  padding: 10px;
}

figcaption {
  text-align: center;
}

img {
  margin: auto;
  display: block;
}

#featured-property {
  /*background-color: red;*/
  margin: auto;
}

#featured-property p {
  text-align: center;
  width: 800px;
  margin: auto;
  line-height: 15px;
}

#details {
  background-color: red;
}

div {
  background-color: red;
  text-align: center;
  float: left;
  width: 25%;


}

#details {
  display: block;
}
